In [2]:
#Assigning of Variables with data type int(), string(), and float()
name = "Ojas"  
age = 21 
Height = 1.71

sum_age = age + 5
age_difference = age - 10
age_product = age * 2

print("Hello,", name)
print("Age:", age)
print("Height (approx):", pi)
print("Sum of age and 5:", sum_age)
print("Age difference (current - 10):", age_difference)
print("Age multiplied by 2:", age_product)

Hello, Ojas
Age: 21
Height (approx): 3.14159
Sum of age and 5: 26
Age difference (current - 10): 11
Age multiplied by 2: 42

In [3]:
user_age = int(input("Enter your age: "))

if user_age >= 18:
  print("You are eligible to vote.")
else:
  print("Sorry, you are too young to vote.")

Enter your age:  21

You are eligible to vote.

In [7]:
#also, we can maiputlate the variables as per our requirements into convertable types 
print(type(user_age), user_age)
user_age_flt = float(user_age)
print(type(user_age_flt), user_age_flt)

<class 'int'> 21
<class 'float'> 21.0

In [9]:
#in string format 
user_age_str = str(user_age)
print(type(user_age_str),user_age_str)

<class 'str'> 21