In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Q1
inde = "HR", "SIMULATION", "MANAGEMENT", "ACCOUNTS", "TESTING"
data = 12, 15,20, 9, 20
ser_1 = pd.Series(data = data, index = inde)
ser_1

HR            12
SIMULATION    15
MANAGEMENT    20
ACCOUNTS       9
TESTING       20
dtype: int64

In [ ]:
#Q2
stream = "Science", "Commerce", "Arts"
class_12 = 32, 30, 24
class_11 = 40, 34, 20
A1 = pd.Series(data = class_12, index = stream)
A2 = pd.Series(data = class_11, index = stream)
total = A1 + A2
total

Science     72
Commerce    64
Arts        44
dtype: int64

In [ ]:
#Q3
cities = "Banglore", "Mumbai", "Pune", "Delhi"
pop = 	14008000, 17673000 , 4307000, 33807000
inc_avg = 2101388, 2117870, 1895370, 2043703
ser_1 = pd.Series(data = pop, index = cities)
ser_2 = pd.Series(data = inc_avg, index = cities)
total_income = ser_1 * ser_2
total_income
#using the average income of the cities and then multiplying it with the population, we have found the values of total income of the metro cities, bit contray to the question asked

Banglore    29436243104000
Mumbai      37429116510000
Pune         8163358590000
Delhi       69091467321000
dtype: int64

In [ ]:
#Q4
char = 10000000, 2000, 4500, 8500
index = 'a','b','c','d'
s2 = pd.Series(data = char, index = index)
s2_ = s2[s2 > 8000].index
print("the sections with contribution of more than 8000 ", s2_)

the sections with contribution of more than 8000  Index(['a', 'd'], dtype='object')