In [ ]:
import pandas as pd

In [ ]:
#Q1
S_1 = [1,2,3,4,5,6,7,8,9]
S1 = pd.Series(S_1)
S1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
#Q2
quarters = ['Q1'] * 31 + ['Q2'] * 30 + ['Q3'] * 31 + ['Q4'] * 30
Budget_val = [30000] * (31 + 30 + 31 + 30)
bud_ser  = pd.Series(Budget_val, index = quarters)
bud_ser

Q1    30000
Q1    30000
Q1    30000
Q1    30000
Q1    30000
      ...
Q4    30000
Q4    30000
Q4    30000
Q4    30000
Q4    30000
Length: 122, dtype: int64

In [ ]:
#Q3
ar = []
for i in range (0,70,7):
  ar.append(i)
ar_ser = pd.Series(ar)
ar_ser

0     0
1     7
2    14
3    21
4    28
5    35
6    42
7    49
8    56
9    63
dtype: int64

In [ ]:
#Q4
hindi_marks_dict = {'Section A': 350, 'Section B': 380, 'Section C': 400, 'Section D': 370}
mk_hindi = pd.Series(hindi_marks_dict)
mk_hindi

Section A    350
Section B    380
Section C    400
Section D    370
dtype: int64

In [ ]:
#Q5
qes_ar = []
for i in range (2002, 2024, 2):
  qes_ar.append(i)

ques = []
for i in range (len(qes_ar)):
  ques.append(200)

x = pd.Series(ques, index = qes_ar)
x

2002    200
2004    200
2006    200
2008    200
2010    200
2012    200
2014    200
2016    200
2018    200
2020    200
2022    200
dtype: int64